*#
*.o
*~
/Makefile
/Makefile.in
/README.html
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/data/Makefile
/data/Makefile.in
/data/autom4te.cache/
/data/neuland.gresource
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/m4
/neuland.pot
/po/*.gmo
/po/*.mo
/po/*.pot
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/src/.deps/
/src/Makefile
/src/Makefile.in
/src/neuland-resources.c
/src/neuland-resources.h
/src/test
/src/tox-test.c
/stamp-h1
neuland
