.neuland-left-titlebar:dir(ltr) {
    border-right-width: 1px;
    border-color: alpha(@borders, 0.5);
}

.neuland-left-titlebar:dir(rtl) {
    border-left-width: 1px;
}

.neuland-left-titlebar:dir(ltr),
.neuland-right-titlebar:dir(rtl) {
    border-top-right-radius: 0;
}

.neuland-right-titlebar:dir(ltr),
.neuland-left-titlebar:dir(rtl) {
    border-top-left-radius: 0;
}

.pending-messages-count {
    color: @theme_selected_fg_color;
    background-color: mix(@theme_selected_bg_color, @theme_selected_fg_color, 0.3);
    border-radius: 4px;
    padding: 0px 4px;
}

.neuland-paned {
    -GtkPaned-handle-size: 0;
}

.contacs-frame {
    border-width: 0 1px 0 0;
    border-color: alpha(@borders, 0.5);
}

/* TODO: See what happens in GTK+ and check this again */
.me-status-button,
.me-status-button:hover,
.me-status-button:active {
    border-radius: 0px;
    border-style: none;
}
